

<div class="row">
    <div class="col-md-12">
    <form >
        
              <div class="form-group">
                  
                <input type="text" value="" class="form-control" placeholder="id" (keyup)=id($event)>
              
          <button type="submit" (click)="getbyid()">find</button>
        </div>
     </form>


</div>

<br><br><br><br>


  <!-- Form -->
  <div class="col-md-12">
    <form  >
        
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>id:  </label><b>{{item?.id}}</b><br>
                <label>First Name:  </label><b>{{item?.first_name}}</b><br>
                <label>Last Name:  </label><b>{{item?.last_name}}</b><br>
                <label>Contact:  </label><b>{{item?.contact_number}}</b><br>
                <label>Email:  </label><b>{{item?.email}}</b><br>
      
                </div>
              </div>
            </div>
               
      </form>
      </div>
      </div>

    

    
  
   
